@use "../../assets/variables" as *;

.counter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .counter__heading {
        padding-top: 10px;
        width: 80vw;
        text-align: center;
    }

    .counter__button {
        width: 40px;
        height: 30px;
        font-size: 15px;
        margin: 15px 10px;
    }

    .counter {
        font-size: 20px;
        margin: 14px 0px 0px 0px;
    }
}

@media screen and (min-width:$tablet-breakpoint) {
    .counter-container {
        .counter__heading {
            width: 90vw;
        }
    }
}

@media screen and (min-width:$desktopLarge-breakpoint) {
    .counter-container {
        .counter__heading {
            width: 95vw;
        }
    }
}