@use "../../assets/variables" as *;

.employee-container {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-black;
    border-radius: 5px;
    margin: 5px;
    background: linear-gradient(180deg, $color-secondary 45%, $color-white 100%);

    .employee__content {
        padding: 10px 15px;
        align-self: center;
        color: $color-white;
    }
}

@media screen and (min-width:$tablet-breakpoint) {
    .employee-container {
        width: 35vw;
    }
}

@media screen and (min-width:$desktop-breakpoint) {
    .employee-container {
        width: 20vw;
    }
}