//colour variables
$color-black: black;
$color-white: white;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
$font-body: Titillium Web, sans-serif;

//breakpoint variable
$desktop-breakpoint: 1024px;