@use "../../assets/variables" as *;

@media screen and (min-width:$tablet-breakpoint) {
    .panel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 700px;
    }
}

@media screen and (min-width:$desktop-breakpoint) {
    .panel {
        grid-template-columns: repeat(4, 1fr);
        width: 90vw;
        :nth-child(2) {
            grid-column-start: 2;
            grid-column-end: 5;
        }
    }
}